html,
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgb(72, 104, 87);
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 5rem;
    color: wheat;
}

#products {
    display: flex;
}

#card {
    border: 1rem black solid;
    width: 50vw;
    margin: auto;
    text-align: center;
}

img {
    display: flex;
    width: 45vw;
    margin: auto;
}