html,
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: var(--card) ;
    font-family: 'Space Mono', monospace;
}

:root {
    --greenish-gray: rgb(84, 127, 84);
    --pinkish-pink: rgb(173, 117, 117) ;

    --card: rgb(141, 169, 138);

    /* typograph */
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
}



h1 {
    font-size: var(--h3);
    color: var(--text);
}

.everything2 {
    display: block;
    justify-content: space-around;
}

.everything
 {
    padding: 1rem;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-direction: row;
    border: 0.4rem black solid;
    margin: 1.5rem;
    border: 0.4rem --text;
    margin: auto;
    margin-top: 1rem;
    width: fit-content;
}

#title {
    font-size: 6rem;
    text-align: center;
    color: var(--text);
    margin-top: 4rem; 
    
}

#card {
    border: 0.4rem black ;
    border-radius: 4%;
    background-color: var(--card);
    width: 30vw;
    height: 28vh;
    margin: 0.6rem;
    text-align: center;
    padding: 1rem;
}

#filter {
    border: 0.4rem black solid;
    width: 90vw;
    height: 13vh;
    width: 30vw;
    padding: 1rem;
    margin: auto;
}


img {
    width: 25vw;
    height: 16vh;
    object-fit: contain;
    margin: auto;
}
button {
    height: 2rem;
}

#bored {
    margin: 0.5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--text);
}

#themebtton {
    margin: 2rem;
    text-align: center;
}

  .greenMode {
    background-color:rgb(79, 131, 97) ;
    --text:rgb(0, 0, 0);
    --card: rgb(141, 169, 138);
  }
  
  .pinkMode {
    background-color:rgb(183, 120, 120) ;
    --text:rgb(255, 255, 255);
    --card: rgb(198, 163, 163); 
    
  }